* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1efee;
    background-size: cover; /* Options: contain, cover, auto, or specific sizes */
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    color: #ffffff;
    margin: 20px;
}

.shadows-into-light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 700;
    font-style: normal;
  }


h1 {
    font-size: 6em;
    color: #d33f39;
    font-family: "Shadows Into Light", cursive;
}


.assignments ul {
    list-style: none;
    margin: 20px;
    padding: 0;
}

.assignments ul li a:hover {
    margin: 10px 0;
    color:yellowgreen;
}

.assignments ul li  {
    text-decoration: none;
    color: #d33f39;
    font-size: 1.2em;
    transition: color 0.3s;
    /*boarder:1px solide black;*/
    margin: 50px 0;
    padding: 50px;
}

.assignments ul li a:hover {
    color: #d33f39;
}

footer {
    text-align: center;
    padding: 10px;
    color: #777;
    margin-top: auto;
}

.description {
    text-align: center;
    margin: 20px;
    width: 100px; 

}

#sketch-container{
    margin: 20px; 
}

img{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-right: 80px; 
    margin-left: 80px; 
}

.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* auto change line */
    gap: 20px;
    max-width: 1000px; /* 限制容器宽度 */
    margin: 0 auto; /* 让整个容器居中 */
    padding: 20px;
}

.image-item {
    width: calc(33.33% - 20px); /* 每个图片占据容器宽度的三分之一，减去间距 */
    text-align: center;
    margin-bottom: 40px; /* 控制图片与下一行的间距 */
}

.image-item a {
    display: block;
    text-decoration: none;
    color: inherit;
    margin: 0 auto
}

.image-item img {
    width: 100%; 
    height: 300px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s;
}

.image-item img:hover {
    transform: scale(1.05);
}

.image-title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: center; 
}

#a1{
   color:green;
    font-size: 20px;
}