.header{
    text-align: center;
}

.h1{
    font-size: 50px;
    /* font-family: "Roboto", serif; */
}

.h2{
    font-size: 30px;
}

/* .roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  } */

.p{
    font-size: 20px;
}

.description{
    width: 200px;
    height:100px;
}

.box{
    display:flex;
    flex-direction: horizontal;
    gap:10px;
}

.img{
    width:300px;
    height:300px;
}

.shift{
    position:relative;
    padding-top:200px;
    padding-left:50px;
}

.row{
    display: flex;
    flex-direction: horizontal;
    margin-top: 50px;
}

.outer{
    display: grid;
    place-items: center;
}

.box2{
    position: relative;
    left:60px;
}

.shift2{
    margin-top: 50px;
    margin-left:-200px;
}

.z{
    z-index: 2;
}